@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.976 0 0);
  --card: oklch(0.976 0 0);
  --popover: oklch(0.976 0 0);
  --sidebar: oklch(0.976 0 0);
  --foreground: oklch(0.215 0 0);
  --card-foreground: oklch(0.215 0 0);
  --popover-foreground: oklch(0.215 0 0);
  --sidebar-foreground: oklch(0.215 0 0);
  --primary: oklch(0.469 0.192 303);
  --sidebar-primary: oklch(0.469 0.192 303);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.88 0.009 309);
  --accent: oklch(0.88 0.009 309);
  --sidebar-accent: oklch(0.88 0.009 309);
  --secondary-foreground: oklch(0.218 0 0);
  --accent-foreground: oklch(0.218 0 0);
  --sidebar-accent-foreground: oklch(0.218 0 0);
  --muted: oklch(0.882 0.006 309);
  --muted-foreground: oklch(0.587 0.021 310);
  --destructive: oklch(0.597 0.238 29);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.804 0.043 309);
  --sidebar-border: oklch(0.804 0.043 309);
  --ring: oklch(0.736 0.104 307);
  --sidebar-ring: oklch(0.736 0.104 307);
  --input: oklch(0.808 0.039 308);
  --chart-1: oklch(0.469 0.192 303);
  --chart-2: oklch(0.436 0.175 299);
  --chart-3: oklch(0.447 0.163 313);
  --chart-4: oklch(0.38 0.139 290);
  --chart-5: oklch(0.382 0.125 305);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.232 0.01 312);
  --card: oklch(0.232 0.01 312);
  --popover: oklch(0.232 0.01 312);
  --sidebar: oklch(0.232 0.01 312);
  --foreground: oklch(0.961 0 0);
  --card-foreground: oklch(0.961 0 0);
  --popover-foreground: oklch(0.961 0 0);
  --sidebar-foreground: oklch(0.961 0 0);
  --primary: oklch(0.641 0.16 306);
  --sidebar-primary: oklch(0.641 0.16 306);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.3 0.042 309);
  --accent: oklch(0.3 0.042 309);
  --sidebar-accent: oklch(0.3 0.042 309);
  --secondary-foreground: oklch(0.961 0 0);
  --accent-foreground: oklch(0.961 0 0);
  --sidebar-accent-foreground: oklch(0.961 0 0);
  --muted: oklch(0.354 0.033 307);
  --muted-foreground: oklch(0.672 0.019 308);
  --destructive: oklch(0.613 0.228 27);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.31 0.063 307);
  --sidebar-border: oklch(0.31 0.063 307);
  --ring: oklch(0.336 0.135 303);
  --sidebar-ring: oklch(0.336 0.135 303);
  --input: oklch(0.312 0.06 308);
  --chart-1: oklch(0.641 0.16 306);
  --chart-2: oklch(0.665 0.138 303);
  --chart-3: oklch(0.718 0.125 315);
  --chart-4: oklch(0.721 0.099 296);
  --chart-5: oklch(0.77 0.084 308);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply cursor-pointer;
  }
}

