services:
  postgres:
    image: bitnami/postgresql
    container_name: task-manager-postgres
    environment:
      POSTGRES_DB: task_manager
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data:/bitnami/postgresql
    networks:
      - task-manager-network

networks:
  task-manager-network:
    driver: bridge

volumes:
  postgres_data: